<footer class="clear">
  <div class="footer-info">
    <div class="socials">
      <a href="https://www.facebook.com/Chris-Capelle-Macintosh-Computer-Apple-Products-Expert-398555623545309/" target="_blank" aria-label="facebook icon">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com/chris_capelle" target="_blank" aria-label="twitter icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/chriscapelle/" target="_blank" aria-label="linkedin icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <div class="contact">
      Call/Text <a href="tel:2034511377" aria-label="203-451-1377">203.451.1377</a><br />
      <a href="mailto:chris@chriscapelle.com" aria-label="chris@chriscapelle.com; opens email application">chris@chriscapelle.com</a><br />
      <br />
      Chris Capelle<br />
      P.O. Box 7512<br />
      Wilton, CT 06897<br />
      <br />
      Site by <a href="https://remydavison.com" target="_blank" aria-label="Remy Davison">Remy Davison</a>
    </div>
  </div>
</footer>
