<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ page.title }} Chris Capelle - Macintosh Computer & Apple Products Expert</title>

<!-- INSERT FAVICON -->
<link rel="icon" href="">

<!-- IMPORT CSS -->
<link rel="stylesheet" href="https://use.typekit.net/kaa8hct.css">
<link rel="stylesheet" href="/assets/css/styles.css">

<!-- IMPORT JS AND LIBRARIES -->
<script src="https://kit.fontawesome.com/c1a5a513f9.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- STOPS TRANSITIONS FROM FIRING ON PAGE LOAD -->
<script>
  $(document).ready(function() {
    $("body").removeClass("preload");
  });
</script>
