<nav style="text-align:center">
  <!-- Mobile nav -->
  <section class="mobile-navbar">
    <div id="mobile-logo" class="mobile-only">
      <a href="/">
        <img src="assets/img/CC-logo.png" alt="Chris Capelle logo" width=100%/>
      </a>
    </div>
    <div id="mobile-nav" class="mobile-only"><i class="fas fa-bars"></i></div>
  </section>

  <div id="nav-links">
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/what-i-do">What I Do</a>
    <a href="/rave-reviews">Rave Reviews</a>
    <a href="http://blog.chriscapellemac.com/" target="_blank">My Blog</a>
    <a href="/vital-resources">Vital Resources</a>
    <div class="dropdown">
      <span>Industry News <i class="fas fa-angle-down" style="font-size:1rem;"></i></span>
      <section class="drop-content">
        <a href="https://www.macrumors.com/" aria-label="Mac Rumors" target="_blank">Mac Rumors</a>
        <a href="https://www.macworld.com/" aria-label="Macworld" target="_blank">Macworld</a>
        <a href="https://www.cultofmac.com/category/news/" aria-label="Cult of Mac" target="_blank">Cult of Mac</a>
        <a href="https://appleinsider.com/" aria-label="Apple Insider" target="_blank">Apple Insider</a>
        <a href="https://www.apple.com/newsroom/" aria-label="Apple Newsroom" target="_blank">Apple Newsroom</a>
      </section>
    </div>
    <a href="contact-me">Contact Me</a>
  </div>
</nav>
