/*thank you css-tricks for the preload trick*/
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.vsc-initialized {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.clear {
  clear: both;
}

.mobile-only {
  display: none;
}

body {
  background-color: #fff;
  font-family: $body-font;
  font-weight: 400;
  font-size: $base-font-size;
  color: $body-color;
  margin: auto;
  line-height: 1.3;
  overflow-x: hidden;
}

a {
  color: $accent;
  font-weight: bold;
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;

  &:hover {
    opacity: .5;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
  }
}

main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 60vh;
  max-width: 1200px;
  padding: .5rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  margin: auto;

  .content {
    width: 80%;
    margin-left: 1.66%;
  }
}

/* HEADERS */

.headers {
  margin: 2.5rem auto;
  max-width: 1200px;
}

h1, h2, h3 {
  font-family: $heading-font;
  margin: 0;
}

h1 a, h2 a, h3 a {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: $accent;
}

h2 {
  font-size: 1.75rem;
  margin-top: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
  color: $grey;
}

/*Skip to main content hidden link for ADA complicance*/
/*Courtsey of NC State University*/
/*https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/*/
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
