main {
  .content {
    .contact {

      input, textarea {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
      }

      input[type=text] {
        width: 25%;
        font-size: 11pt;

        &:focus {
          border: 1px solid #5770AA;
        }
      }

      input[type=submit] {
        background-color: #5770AA;
        border: 0;
        color: white;
        text-transform: uppercase;
        width: 12%;
        padding: 0.5rem 0.75rem;
        box-sizing: border-box;
        font-size: 11pt;
        text-align: center;
        letter-spacing: 0.75px;
        transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;

        &:hover {
          background-color: $grey;
        }
      }

      textarea {
        width: 80%;
        height: 10rem;
        font-size: 11pt;
        font-family: $body-font;

        &:focus {
          border: 1px solid #5770AA;
        }
      }

      label {
        font-weight: bold;
        font-size: 14pt;
        color: #444;
      }
    }
  }
}
