//Colors
$accent: #5770AA;
$grey: #777;
$light: #eee;

//Fonts
$heading-font: frank-new, sans-serif;
$body-font: franklin-gothic-urw, sans-serif;
$base-font-size: 13pt;

//Mobile Breakpoints
$mobile: 767.98px;
$tablet: 1023.98px;
