/*MOBILE BREAK POINTS*/
/*phone-max: 640px;
  tablet-max: 1040px;*/

/*TABLET STYLES*/
@media only screen and (max-width: 1040px) {
  h1 {
    font-size: 2.25rem;
    line-height: 1.3;
  }

  h2, h3 {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  nav {
    padding: 0 1rem;
  }

  main {
    display: block;

    .sidebar,
    .content {
      width: 100%;
      padding: 0 1rem;
      box-sizing: border-box;
    }

    .sidebar {
      display: flex;

      #logo {
        width: 20%;
      }

      .sidebar-text {
        margin-top: 0;
        margin: 0 1rem;
        width: 70%;
      }
    }

    .content {
      padding-bottom: 3rem;

      h1 {
        padding-top: 2rem;
        width: 100%;
      }
    }
  }
}

/*PHONE STYLES*/
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2, h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  nav {
    margin: 1.5rem auto;

    #mobile-nav {
      display: inline-block;
      position: absolute;
      right: 0;
      color: $accent;
      font-size: 2.5rem;
      padding: 1.5rem 2rem 0 0;
      cursor: pointer;
    }

    #nav-links {
      background-color: $accent;
      width: auto;
      height: auto;
      position: absolute;
      right: 1rem;
      top: 6rem;
      padding: .5rem;
      display: none;
    }

    a {
      margin: 0 1rem;
      font-size: 1.25rem;
      line-height: 1.66;
      color: #fff;
      display: block;
    }

    &:active {
      color: #000;
    }

    &.show {
      display: block;
    }
  }

  main {

    .sidebar,
    .content {
      width: 100%;
      margin: 0;
    }

    .content {
      h1 {
        font-size: 1.75rem;
        line-height: 2.25rem;
      }

      //contact form
      .contact {
        line-height: 2rem;

        label {
          padding: 0;
        }

        input,
        textarea {
          margin: 0;
          margin-top: 0;
          padding: 0.5rem;
          border-radius: 5px;
          border: 1px solid #ccc;
          outline: none;
        }

        input[type=text] {
          width: 50%;
        }

        input[type=submit] {
          width: 33%;
        }

        textarea {
          width: 90%;
          height: 10rem;
          font-family: $body-font;
        }
      }
    }
  }

  footer {
    position: inherit;

    .footer-info {
      .socials {
        width: 100%;
        padding: 0;
      }

      .contact {
        width: 100%;
        padding: 1.5rem 0;
      }
    }
  }
}
