<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="preload">
    {% include nav.html %}

    <section class="headers">
      <h1 align="center">{{ page.heading }}</h1>
      <h2 align="center">{{ page.subheading }}</h2>
    </section>

    <main class="clear">

      {% include sidebar.html %}

      <section class="content">
        {{ content }}
      </section>
    </main>

    {% include footer.html %}
    <!--imports all the javascript-->
    {% include js.html %}
  </body>
</html>
