<!doctype html>
<html>
  <head>
    {% include head.html %}
    <!--imports all the javascript-->
    {% include js.html %}
  </head>
  <body class="preload">
    <!--Hidden skip to main content link for ADA compliance-->
    <a href="#main-content" class="skip-main">Skip to main content</a>
    {% include nav.html %}

    <section class="headers desktop-only">
      <h1 align="center">{{ page.heading }}</h1>
      <h2 align="center">{{ page.subheading }}</h2>
    </section>

    <main class="clear">

      {% include sidebar.html %}

      <section class="headers mobile-only">
        <h1 align="center">{{ page.heading }}</h1>
        <h2 align="center">{{ page.subheading }}</h2>
      </section>

      <!--Skip to main content jumps to here-->
      <a name="main-content" tabindex="-1"></a>

      <section class="content">
        {{ content }}
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
